.hand__locker {
  .design-box {
    width: 100px;
    height: 100px;
    background-color: #97d381;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .number {
    font-size: 25px;
    color: #333;
  }

}