* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #475456;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Calibri', 'Arial', sans-serif;
  line-height: 1.5;
}

img, picture, video, canvas {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Мобильные телефоны */
@media (max-width: 425px) {
  /* Ваши стили для телефонов */
}

/* Планшеты */
@media (max-width: 768px) {
  /* Ваши стили для планшетов */
}

/* Небольшие ноутбуки */
@media (max-width: 1024px) {
  .sidebar__content__link {
    font-size: 32px !important;
    justify-content: center;
    padding: 8px 0;
  }
}

/* Десктопы */
@media (max-width: 1280px) {
  .menu__filter {
    display: none !important;
  }

  .menu__filter__mobile {
    display: block !important;
  }
}
