.menu__add__button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__add__button img {
    width: 55px;
}

.menu__group__general {
    margin-bottom: 32px;
}

.menu__filter__select {
    margin-right: 5px;
    width: 230px;
}

.menu__filter__search {
    margin-right: 5px;
    width: 230px;
}

.menu__filter__search input{
    padding: 7px 8px;
}

.menu__file__uploader img{
    width: 30px;
}

/* .menu__connection {
    margin-right: 30px;
} */

.menu__connection__and__manage {
    display: flex;
}

.menu__connection__status {
    margin-top: 8px;
    margin-right: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #08f4e8;
}

.menu__connection__status__icon {
    font-size: 32px;
    color: #08f4e8;
}

.menu__filter__mobile > div {
    padding: 0 20px;
}

.manage__page {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.75rem;
    flex-direction: column;
}

@media (max-width: 425px) {
    .layout {
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .manage__page {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .menu__filter__mobile > div{
        flex-direction: column;
    }

    .menu__connection__and__manage {
        flex-direction: column;
    }

    .menu__connection {
        align-items: flex-start !important;
    }

    .menu__add__button img {
        width: 36px;
    }

}

@media (max-width: 1024px) {}

@media (max-width: 1280px) {}