.temprorary__locker {
    .locker {
        border-radius: 6px;
        width: 85px;
        height: 85px;
        background-color: #F97BA2;
        overflow: hidden;
        position: relative;
        display: flex;
    }

    .mini-part {
        width: 80px;
        height: 80px;
        background-color: #45d8f9;
        position: absolute;
        right: -45px;
        top: -45px;
        transform: rotate(42deg);
    }

    .label {
        width: 35px;
        height: 34px;
        background-color: #45d8f9;
        position: absolute;
        border-radius: 5px;
        top: 0;
        right: 0;
    }

    .label-value {
        padding: 10px;
        align-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
    }

    .label-value::before {
        content: '';
        width: 2px;
        height: 20px;
        background-color: black;
        bottom: 0;
    }

    .locker__number {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }


    .label-value::after {
        content: '';
        width: 20px;
        height: 2px;
        background-color: black;
        bottom: 0;
        left: 0;
    }
}