.unspecified__locker {
  .design-box {
    width: 40px;
    height: 40px;
    background-color: #dbdbdb;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ed833b
  }

  .number {
    padding-top: 3px;
    font-size: 15px;
    color: #333;
  }

}