.common__locker {
  .design-box {
    width: 40px;
    height: 40px;
    background-color: #ff7da8;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .number {
    padding-top: 8px;
    font-size: 15px;
    color: #333;
  }

  .corner {
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 17px solid transparent;
    border-right: 17px solid transparent;

    &.open {
      border-top-color: green;
    }

    &.closed {
      border-top-color: transparent;
    }
  }

  .corner-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
  }
}