.sidebar__content__link {
    color: #AAAAAA;
    display: flex;
    align-items: center;
    font-size: 21px;
}

.sidebar__logo {
    width: 130px;
}

.sidebar__content {
    padding-top: 150px;
}

.sidebar__content__link p{
   margin-left: 4px;
}

.sidebar__content__link:hover {
    color: white;
}